@page
@model GTFS_Explorer.FrontEnd.Pages.MainPages.SelectionModel
@{
    ViewData["Title"] = "Selection";
}

<section class="container">
    <div class="tab">
		<div class="text-center mt-3">
			@if (Model.FeedInfo != null)
			{
				<h3 class="text-white h3">Feed Info</h3>
				<p class="text-white lead">Publisher Name: @Model.FeedInfo.PublisherName</p>
				<p class="text-white lead">
					Publisher Url:
					<a id="publisher-url"
					   class="text-decoration-none mouse-pointer">
						@Model.FeedInfo.PublisherUrl
					</a>
				</p>
				<p class="text-white lead">Language: @Model.FeedInfo.Lang</p>
				@if (!string.IsNullOrEmpty(Model.FeedInfo.StartDate) &&
				 !string.IsNullOrEmpty(Model.FeedInfo.EndDate))
				{
					<p class="text-white lead">
						Valid from @Model.FeedInfo.StartDate to @Model.FeedInfo.EndDate
					</p>
					@if (DateTime.UtcNow < Model.FeedStartDate)
					{
						<p class="text-danger">Feed is not yet to date</p>
					}
					else if (DateTime.UtcNow > Model.FeedEndDate)
					{
						<p class="text-danger">Feed is outdated</p>
					}
				}
			}
			else
			{
				<h3>Feed Info was not provided</h3>
			}
		</div>
        <br>
        <div class="d-flex justify-content-around">
            <form method="post">
                <button class="tablinks" 
                        type="submit" 
                        asp-page="/MainPages/Routes">Routes</button>
                <button class="tablinks" 
                        type="submit" 
                        asp-page="/MainPages/Stops">Stops</button>
                <button class="tablinks" 
                        type="submit" 
                        asp-page="/MainPages/SystemMap">System Map</button>
            </form>
        </div>
    </div>

    <form>
        <input type="file" class="hidden" id="selectFile" />
        <label class="select-file" for="selectFile">Select New File</label>
    </form>
</section>

@section Scripts
{
	<script>
		hideLoader();

        const { ipcRenderer } = require("electron");

		document.getElementById("publisher-url").addEventListener("click", () => {
			ipcRenderer.send("open-publisher-url");
        });
	</script>
}