@page "{routeId}/{scheduleDate:datetime?}"
@model GTFS_Explorer.FrontEnd.Pages.RouteOptions.ScheduleModel
@{
    ViewData["Title"] = "Schedule";
}

@using Nixill.Collections.Grid;

<section>
    <div class="header">
		<div class="header-right">
			<a asp-page="/RouteOptions/RouteSummary"
			   asp-route-routeId="@Model.RouteId">Summary</a>
			<a asp-page="/RouteOptions/RouteMap"
			   asp-route-routeId="@Model.RouteId">Route Map</a>
			<a asp-page="/RouteOptions/StopList"
			   asp-route-routeId="@Model.RouteId">Stop List</a>
			<a class="active"
               asp-page="/RouteOptions/Schedule"
			   asp-route-routeId="@Model.RouteId">Schedule</a>
		</div>
    </div>
    <div class="floater d-flex justify-content-around">
		<div class="floater-content col-lg-7">
			<table class="table">
				@{ int index = 0; }
				@foreach (GridLine<string> gridLine in (Grid<string>)Model.Schedule)
				{
					if (index == 0)
					{
						<thead>
							<tr>
								@{int columnIndex = 0;} 
								@foreach (string stopId in gridLine.Skip(1))
								{
								<th class="mouse-pointer"
									onclick="location.href='@(Url.Page("/StopOptions/StopSummary", new { stopId = stopId }))'">
									@Model.Stops[columnIndex].Name
								</th>
									columnIndex++;
								}
							</tr>
						</thead>
					}
					else
					{
						<tbody>
							@{var tripId = gridLine[0];}
							<tr>
								@foreach (string column in gridLine.Skip(1))
								{
									<td class="mouse-pointer"
										onclick="location.href='@(Url.Page("/Trips", new { tripId = tripId}))' ">
										@column
									</td>
								}
							</tr>
						</tbody>
					}
					index++;
				}
			</table>
		</div>
		<form asp-page-handler="CreateSchedule"
			  class="mt-md-3">
			<input type="date" 
				   class="form-control" 
				   asp-for="ScheduleDate"/>
			@Html.HiddenFor(m => m.RouteId)
			<button type="submit"
					class="btn button submit">See Schedule</button>
		</form>
    </div>
    <form>
        <input type="file" id="selectFile" class="hidden" />
        <label class="select-file" for="selectFile">Select New File</label>
        <a asp-page="/MainPages/Routes" id="returnToRoutes" />
        <label class="select-file" for="returnToRoutes">Return to Routes</label>
    </form>
</section>